.logo {
    width: 40px;
    height: 40px;
}

.navbar-brand {
    padding: 5px 15px;
}

body {
    background-color: #f3f3f3;
}

.main {
    background: #fff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.form-container {
    width: 300px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
}